* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}
/* STARTING HEADER */
.header {
    padding: 15px;
    background-color: rgb(90,107,135);  
    color:rgb(145,203,205); 
    justify-content: space-between;
    display: flex;
    background-size: cover;
}

.header h1 {
    display: -webkit-inline-flex;
    font-size: xx-large;
    color: rgb(145,203,205);
}

.header nav ul { 
    list-style: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: rgb(145,203,205);
    text-decoration: none;
    font-family: cursive;
    font-weight: bolder;
    float: left;
    padding: 0;
}

.header nav ul li 

.hero {
height: 200px;
width: 100%;
background-image: url("../Sarah-Powell-Portfolio/nature.jfif");
background-position: center;
background-size: cover;
}

/* .headshot {
    height: 100px;
    width: 100%;
    object-fit: contain;
    background-image: url("../Sarah-Powell-Portfolio/portfolio-headshot.jpg");
} */

section {
    display: flex;
    flex-direction: row;
}

section h2 {
    flex-basis: 20%;
    text-align: right;
    padding-right: 2%;
    border-right: 2px solid black;
}

section div {
    flex-basis: 80%;
}
